.title {
    padding: 20px;
    text-align: center;
}

.modal__content {
    padding: 0 20px;
}

.modal__content [nz-row] {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.modal__content input {
    border: none;
}

.modal__footer {
    padding: 40px;
    padding-top: 0;
}

.modal__footer button {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.modal__footer .get-code-btn {
    background-color: #6D31ED;
    color: #fff;
    margin-left: 0;
    margin-top: 15px;
}
.modal__footer .get-code-btn:hover {
    background-color: #6425ed;
    color: #fff;
}
.modal__footer .get-code-btn:focus {
    background-color: #6425ed;;
    color: #fff;
    margin-top: 15px;
}

.modal__footer .resend-code-btn  {
    background-color: #F3F4F6;
    color: #565D6D;
    margin-left: 0;
    margin-top: 15px;
}
.modal__footer .resend-code-btn:hover  {
    background-color: #d6d7d9;
    color: #565D6D;
}
.modal__footer .resend-code-btn:focus  {
    background-color: #d6d7d9;
    color: #565D6D;
}