.prefix-select {
    background-color: #fafafa;
    padding: 2px 3px;
    border: 1px solid #d9d9d9;
    border-right: none;
    text-align: center;
}
nz-select {
    width: 100%;
}

nz-table {
    margin-top: 25px;
    margin-bottom: 15px;
    border: none!important;
}

nz-pagination {
    float: right;
}