<div class="thumbnail" [ngStyle]="{'background': 'no-repeat center/100% url(' + projectDetail.thumbnail +')'}" nz-flex nzAlign="center" nzJustify="center">
    <div nz-row class="thumbnail__box">
        <div nz-col [nzSpan]="12" class="thumbnail__text-box">
            <h3>{{projectDetail.name}}</h3>
            <p>{{projectDetail.description}}</p>
        </div>
        <div class="project-image" [ngStyle]="{'background': 'no-repeat center/100% url(' + projectDetail.thumbnail +')'}" nz-col [nzSpan]="12"></div>
    </div>
</div>

<div class="menu">
    <ul nz-flex>
        <li [routerLink]="['/project-detail',projectId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Tất cả</li>
        @for (item of areaList; track $index) {
        <li [routerLink]="['/project-detail',projectId,'area-detail', item.id]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:
            true}" (click)="handleChangeArea(item)">
            {{item.name}}</li>
        }
    </ul>
</div>

<div class="content">
    <div class="content-wrapper">
        <div class="filter" nz-flex nzJustify="end">
            <nz-select [(ngModel)]="filterParams.price" nzPlaceHolder="Giá">
                <nz-option [nzValue]="0" nzLabel="Giá thấp đến cao"></nz-option>
                <nz-option [nzValue]="1" nzLabel="Giá cao đến thấp"></nz-option>
            </nz-select>
            <nz-select [(ngModel)]="filterParams.status" nzPlaceHolder="Trạng thái">
                <nz-option [nzValue]="0" nzLabel="Sắp mở bán"></nz-option>
                <nz-option [nzValue]="1" nzLabel="Đang mở bán"></nz-option>
                <nz-option [nzValue]="2" nzLabel="Đang đặt cọc"></nz-option>
                <nz-option [nzValue]="3" nzLabel="Đã đặt cọc"></nz-option>
            </nz-select>
            @if (projectDetail.projectType.id==1) {
                <nz-select [(ngModel)]="filterParams.typeOfApartment" nzPlaceHolder="Loại căn hộ">
                    <nz-option [nzValue]="1" nzLabel="2PN + 1"></nz-option>
                    <nz-option [nzValue]="2" nzLabel="3PN"></nz-option>
                </nz-select>
            }
            <nz-select [(ngModel)]="filterParams.direction" [nzPlaceHolder]="projectDetail.projectType.id == 1 ?'Hướng ban công' : 'Hướng'">
                <nz-option [nzValue]="0" nzLabel="Tây Bắc"></nz-option>
                <nz-option [nzValue]="1" nzLabel="Tây Nam - Tây Bắc"></nz-option>
                <nz-option [nzValue]="2" nzLabel="Đông Nam - Tây Bắc"></nz-option>
            </nz-select>
            <div nz-flex [nzGap]="10">
                <button nz-button class="background-gray" (click)="handleSearch()">Lọc</button>
                <button nz-button (click)="handleClearFilter()">Xóa</button>
            </div>
        </div>

        <div class="land-list">
            <h1>{{areaDetail.name}}</h1>
            <div nz-row [nzGutter]="[32, 32]">
                @for (item of landList; track $index) {
                <div nz-col [nzSpan]="12">
                    <div nz-row class="wrapper">
                        <div nz-col [nzSpan]="14" class="wrapper__info">
                            <span class="land-name">{{item.name}}</span>
                            <span class="status" [class]="{'up-coming':item.status==0, 'sale': item.status==1, 'temp-lock':item.status==2, 'locked': item.status==3}">{{item.status==0?'Sắp mở bán': item.status==1?'Đang mở bán': item.status ==2?'Đang đặt cọc':'Đã đặt cọc'}}</span>
                            <div class="brief">{{item.typeOfApartment == 1 ? '2PN +1' : '3PN'}} | {{item.acreage}} m2 | {{item.direction == 0 ? 'Tây Bắc': item.direction == 1 ? 'Tây Nam - Tây Bắc': 'Đông Nam - Tây Bắc'}}</div>
                            <div class="price">Giá niêm yết: {{item.price}} tỷ</div>
                            <button nz-button class="background-brown" (click)="showConfirm(item)" [disabled]="item.status!==1">Đặt cọc ngay</button>
                            <button nz-button class="view-detail"  (click)="openLandDetailModal(item)">Xem chi tiết </button>
                        </div>
                        <div nz-col [nzSpan]="10">
                            <img class="image" [src]="item.thumbnail??'../../../../assets/img/flat2.jpg'" alt="" height="100%" width="100%">
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<app-land-info-modal [item]="item"></app-land-info-modal>
<app-payment-modal [item]="item" (handleReload)="handleReload($event)"></app-payment-modal>