.thumbnail {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background: no-repeat center/100% url("../../../../assets/img/img2.jpg");
}

.thumbnail__box {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    height: 350px;
}

.thumbnail__text-box {
    background-color: #fff;
    padding-right: 40px;
    text-align: justify;
}

.project-image {
    background: no-repeat center/100% url("../../../../assets/img/img2.jpg");
}

.menu {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nz-select {
    width: 150px;
    margin-right: 15px;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu ul li {
    padding: 8px 16px;
    cursor: pointer;
}

.menu ul li.active {
    border-bottom: 4px solid #000;
}

.content {
    padding: 30px;
    background-color: #DEE1E6;
}

.content-wrapper {
    background-color: #fff;
    padding: 15px;
    width: 90%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.land-list {
    padding: 16px 64px;
}

.wrapper {
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
}

.wrapper [nz-col] {
    height: 100%;
    width: 100%;
}

.wrapper__info {
    padding: 15px;
}

.wrapper img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper__info .land-name {
    font-size: 20px;
    font-weight: 500;
}

.status {
    border-radius: 50px;
    padding: 3px 12px;
    margin-left: 12px;
    color: #fff;
}

.brief {
    margin-top: 10px;
    display: block;
}

button.background-brown, button.view-detail {
    margin-right: 15px;
    margin-top: 15px;
}

button.view-detail:hover, button.view-detail:active{
    border: 1px solid #d9d9d9;
    color: #000;
}
