<div class="footer">
    <div class="footer__logo" nz-flex>
        <img src="https://www.anthinhphatjsc.com/images/logo_raw.PNG" alt="logo">
        <h1 nz-typography>BDS</h1>
    </div>
    <div nz-row [nzGutter]="32">
        <div nz-col [nzSpan]="11">
            <div class="title">Công ty cổ phần bất động sản trực tuyến An Thịnh Phát</div>
            <div class="company-address" nz-flex nzAlign="center">
                <i class="fa-solid fa-location-dot"></i>
                <p>VP An Thịnh Phát - Tầng 5 tòa T2B TSQ Euroland</p>
            </div>
            <div class="company-phone-number" nz-flex nzAlign="center">
                <i class="fa-solid fa-phone"></i>
                <p>0914153521</p>
            </div>
        </div>
        <div nz-col [nzSpan]="6">
            <div class="title">chính sách</div>
            <p>Chính sách về bảo mật thông tin</p>
            <p>Chính sách hoàn tiền</p>
        </div>
        <div nz-col [nzSpan]="7">
            <div class="title">Hỗ trợ khách hàng</div>
            <p>Giới thiệu</p>
            <p>Hướng dẫn đặt cọc</p>
            <p>Chính sách & Quy định chung</p>
            <p>Hình thức thanh toán</p>
        </div>
    </div>
    <nz-divider></nz-divider>
    <div nz-flex nzJustify="center" nzAlign="center">
        Copyright <i class="fa-regular fa-copyright"></i> 2024 Brand, Inc <i class="fa-solid fa-circle"></i> Terms <i class="fa-solid fa-circle"></i> Sitemap
    </div>
</div>
