<nz-layout>
  <nz-header nz-row nzAlign="middle">
    <div class="header__logo" nz-flex nzAlign="center" nz-col [nzSpan]="2">
      <img src="https://www.anthinhphatjsc.com/images/logo_raw.PNG" alt="logo" class="logo">
      <h1 nz-typography>BDS</h1>
    </div>
    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed" nz-col [nzSpan]="2"></span>
    <div class="user" nz-col [nzOffset]="16" [nzDropdownMenu]="menu" nz-dropdown nzTrigger="click">
      <i class="fa-solid fa-user" style="color: #f57222; margin-right: 10px;"></i>
      <span style="color: #f57222; font-weight: 500; text-transform: uppercase;">Admin {{admin.name}}</span>
    </div>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item><span nz-icon nzType="user" nzTheme="outline"></span> Trang cá nhân</li>
        <li nz-menu-item (click)="logout()"><span nz-icon nzType="logout" nzTheme="outline"></span> Đăng xuất</li>
      </ul>
    </nz-dropdown-menu>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" class="background-orange">
      <ul nz-menu nzMode="inline" class="background-orange">
        <li nz-menu-item [routerLink]="'/user'" routerLinkActive="linkActive">
          <span nz-icon nzType="user"></span>
          <span>Quản lý người dùng</span>
        </li>
        <li nz-menu-item routerLink="/project-management" routerLinkActive="linkActive">
          <span nz-icon nzType="file-text"></span>
          <span>Quản lý dự án</span>
        </li>
        <li nz-menu-item routerLink="/area-management" routerLinkActive="linkActive">
          <span nz-icon nzType="pie-chart"></span>
          <span>Quản lý khu vực</span>
        </li>
        <li nz-menu-item routerLink="/land-management" routerLinkActive="linkActive">
          <span nz-icon nzType="home"></span>
          <span>Quản lý khu đất</span>
        </li>
        <li nz-menu-item routerLink="/transaction-management" routerLinkActive="linkActive">
          <span nz-icon nzType="qrcode"></span>
          <span>Quản lý giao dịch</span>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>