nz-select {
    width: 100%;
}

[nz-button].add-btn {
    background-color: #f57222;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
}

.filter-box {
    margin: 15px 0;
}

.prefix-select {
    background-color: #fafafa;
    padding: 2px 3px;
    border: 1px solid #d9d9d9;
    border-right: none;
    text-align: center;
}

nz-table {
    margin-top: 25px;
    margin-bottom: 15px;
}

nz-pagination {
    float: right;
}