<h2>Quản lý bất động sản</h2>

<div nz-row [nzJustify]="'space-between'" class="filter-box">
    <div class="search-box" nz-col [nzSpan]="6">
        <nz-input-group nzSearch [nzAddOnBefore]="prefixButton">
            <input [(ngModel)]="requestParams.name" type="text" nz-input placeholder="" (keyup.enter)="handleSearch()">
        </nz-input-group>
        <ng-template #prefixButton>
            Tìm kiếm
        </ng-template>
    </div>
    <div nz-col [nzSpan]="6">
        <div nz-row>
            <span nz-col [nzSpan]="6" class="prefix-select">Dự án</span>
            <nz-select [(ngModel)]="requestParams.projectId" nz-search nz-col [nzSpan]="18"(ngModelChange)="searchByProject()" [nzAllowClear]="true">
                @for (item of projectList; track $index) {
                    <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                }
            </nz-select>
        </div>
    </div>
    <!-- <div nz-col [nzSpan]="6">
        <div nz-row>
            <span nz-col [nzSpan]="8" class="prefix-select">Phân khu</span>
            <nz-select [(ngModel)]="requestParams.areaId" nz-col nz-search [nzSpan]="16" (ngModelChange)="searchByArea()" [nzAllowClear]="true">
                @for (item of areaList; track $index) {
                    <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                }
            </nz-select>
        </div>
    </div> -->

    <button nz-button (click)="goToAddLand()" class="background-orange"><span nz-icon nzType="plus" nzTheme="outline"></span>Thêm khu đất</button>
</div>

<div class="table-wrapper">
    <nz-table [nzData]="landList" nzSize="small" nzShowPagination="false" [nzScroll]="{y: '400px' }">
        <thead>
            <tr>
                <th nzWidth="50px">STT</th>
                <th>Tên khu đất</th>
                <th>Phân khu</th>
                <th>Dự án</th>
                <th>Tình trạng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(item of landList; track $index){
            <tr>
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.areaDTO.name}}</td>
                <td>{{item.areaDTO.projectName}}</td>
                <td>{{item.status == 0? 'Sắp mở bán': item.status == 1 ? 'Đang mở bán':item.status == 2 ? 'Đang đặt cọc' : 'Đã đặt cọc'}}</td>
                <td>
                    <button nz-button class="background-blue" (click)="goToEditLand(item.id)">Cập nhật</button>
                    <button nz-button style="margin: 10px;" class="background-red">Xóa</button>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
</div>
<nz-pagination [nzPageIndex]="currentPage+1" [nzTotal]="total" [nzPageSize]="pageSize" (nzPageIndexChange)="handleChangePage($event)"></nz-pagination>