<h2>Thêm phân khu</h2>

<div nz-row>
    <div nz-col [nzSpan]="12">
        <input [(ngModel)]="areaName" type="text" nz-input>
        <p>Tên phân khu</p>
    </div>
</div>
<div nz-row>
    <div nz-col [nzSpan]="12">
        <input [(ngModel)]="timeLimit" type="text" nz-input>
        <p>Thời gian thanh toán</p>
    </div>
</div>
<div nz-row>
    <div nz-col [nzSpan]="12">
        <nz-select [(ngModel)]="projectId" nzShowSearch>
            @for (item of projectList; track $index) {
                <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            }
        </nz-select>
        <p>Dự án</p>
    </div>
</div>

<button nz-button class="background-orange" (click)="handleAddArea()">Thêm phân khu</button>


