<div class="header" nz-flex nzAlign="center" nzJustify="space-between">
    <div class="header__logo" nz-flex nzAlign="center">
        <img src="https://www.anthinhphatjsc.com/images/logo_raw.PNG" alt="logo">
        <h1 nz-typography>BDS</h1>
        <ul nz-flex nzAlign="center">
            <li class="list-item" routerLink="/introduce" routerLinkActive="active">Giới thiệu</li>
            <li class="list-item" routerLink="/homepage" type="button" routerLinkActive="active">Dự án</li>
            <li class="list-item" routerLink="/support" routerLinkActive="active">Hỗ trợ</li>
        </ul>
    </div>
    @if (isLogin) {
    <div  class="avatar-user" nz-col [nzOffset]="12" [nzDropdownMenu]="menu" nz-dropdown nzTrigger="click" style="margin-right: 50px">
        <img [src]="user.picture" alt="avatar" width="40px" style="border-radius: 100px">
        <span style="color: #f57222; font-weight: 500; text-transform: uppercase;">{{user.name}}</span>
    </div>

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item><span nz-icon nzType="user" nzTheme="outline"></span> Trang cá nhân</li>
            <li nz-menu-item (click)="goToTransaction()"><span nz-icon nzType="bar-chart" nzTheme="outline"></span> Lịch
                sử giao dịch</li>
            <li nz-menu-item (click)="handleLogout()"><span nz-icon nzType="logout" nzTheme="outline"></span> Đăng xuất
            </li>
        </ul>
    </nz-dropdown-menu>
    }@else {
    <div class="header__login">
        <button nz-button nzShape="round" nzType="text" (click)="showRegisterModal()">Đăng ký</button>
        <button nz-button nzShape="round" (click)="showModal()">Đăng nhập</button>
    </div>
    }
</div>

@if (isOpenLogin) {
<app-login (statusChange)="closeLogin()" (checkLogin)="checkLogin($event)"></app-login>
}
@if (isOpenRegister){
<app-register (checkLogin)="checkLogin($event)"></app-register>
}
<app-verify-phone-number></app-verify-phone-number>