app-homepage {
    height: 100vh;
}

nz-carousel {
    height: 450px;
    margin-bottom: 50px;
}

nz-carousel [nz-row] {
    background-color: #f3f4f65f;
}

.slider-wrapper {
    height: inherit;
}

.content {
    position: relative;
}

.project-info {
    padding: 0 35px;
}

.project-info .project-name {
    color: #f78e10bf;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 28px;
    margin-bottom: 12px;
    margin-top: 50px;
    font-weight: 500;

}

.project-info .desc {
    max-height: 180px;
    overflow: hidden;
    text-align: justify;
    color: #707070;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.project-info>button {
    padding-left: 0;
    color: #162b75;
    text-transform: uppercase;
    font-weight: 600;
}

.project-info>button:hover {
    background-color: transparent;
    color: #137cc9;
}

nz-select {
    width: 100%;
}

.filter {
    border: 1px solid #e9e9e9;
    margin: 95px 50px;
}

.filter>p {
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 40px;
}

.filter>div {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 40px;
}

div.button-group {
    padding: 15px 40px;
}

.button-group button:last-child {
    background-color: #9095A1;
    color: #fff;
}

.project-list {
    margin-right: 50px;
}

.project-detail {
    height: 220px;
    margin-bottom: 20px;
}

.project-detail__title {
    width: 400px;
    position: relative;
}

.project-detail img {
    border-radius: 15px;
    object-fit: cover;
}

.project-detail button {
    margin-top: 15px;
    float: right;
    /* padding: 0 10px; */
    color: #9095A1;
}

.project-detail button:hover {
    border-color: #9095A1;
}

[nz-col] {
    height: 100%;
}

nz-pagination {
    float: right;
    margin-bottom: 30px;
    margin-right: 50px;
}

.table-wrapper {
    border: 1px solid #f78e10;
}