<nz-modal [(nzVisible)]="isVisible" [nzClosable]="false" [nzMaskClosable]="false" [nzWidth]="1000">
    <ng-container *nzModalTitle>
    </ng-container>

    <ng-container *nzModalContent>
        <div class="modal__content">
            <div nz-row>
                <div nz-col [nzSpan]="14">
                    <div class="qr-box">
                        <div class="instruct">
                            <h3>Quét mã QR để thanh toán</h3>
                            <div>Sử dụng <strong>App ngân hàng</strong> hoặc ứng dụng hỗ trợ QR code để quét mã</div>
                        </div>
                        <div class="qr-box__wrapper">
                            <div class="qr-box__bankname" nz-row nzJustify="space-between">
                                <span class="vietqr">VIETQR</span>
                                <span class="vpbank">VPBank</span>
                            </div>
                            <img [src]="item.qr" alt="qr-image">
                            <p class="napas">napas 247</p>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="10">
                    <div class="payment-info">
                        <nz-list>
                            <h2>Thanh toán đặt cọc</h2>
                            <nz-list-item>
                                <span nz-typography>Ngân hàng hưởng thụ: </span>{{item.bankName}}
                            </nz-list-item>
                            <nz-list-item>
                                <span nz-typography>Số tài khoản: </span>{{item.bankNumber}}
                            </nz-list-item>
                            <nz-list-item>
                                <span nz-typography>Số tiền: </span>{{item.deposit}},000,000 đ
                            </nz-list-item>
                            <nz-list-item>
                                <span nz-typography>Người nhận: </span>{{item.hostBank}}
                            </nz-list-item>
                            <nz-list-item>
                                <span nz-typography>Nội dung: </span>{{item.phone}} + {{item.name}}
                            </nz-list-item>
                        </nz-list>
                    </div>
                    <div class="time-limit">
                        Thanh toán sẽ hết hạn sau:
                        <countdown (event)="handleEvent($event)"
                            [config]="{leftTime: item.expiryDate*60, format: 'mm:ss'}" class="countdown"></countdown>
                    </div>
                    <div>Vui lòng chuyển <strong>ĐÚNG: Số tài khoản - số tiền - nội dung giao dịch để giao dịch</strong>
                        được ghi nhận</div>
                    <div class="modal__footer">
                        <button nz-button (click)="showConfirmCancel()">Hủy</button>
                        <button nz-button (click)="handleTransaction()">Tôi đã chuyển khoản</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *nzModalFooter>
    </ng-container>
</nz-modal>