<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzWidth]="450" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle><h2 class="title">Đăng ký</h2></ng-template>

    <ng-template #modalContent>
        <div class="modal__content">
            <div id="googleSignUpButtonContainer"></div>
            <!-- <button nz-button nzBlock (click)="loginWithGoogle()"><i class="fa-brands fa-google" style="color: #de3b40; margin-right: 10px"></i> Đăng nhập với Google</button>
            <button nz-button nzBlock><i class="fa-brands fa-facebook" style="color: #0866ff; margin-right: 10px"></i>Đăng nhập với Facebook</button> -->
            <div>Bằng cách đăng ký, bạn đồng ý với <strong>điều khoản sử dụng</strong> và <strong>điều khoản bảo mật</strong></div>
            <app-register-admin></app-register-admin>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <div class="modal__footer">Bạn đã có tài khoản? <span class="link-text" type="button" (click)="showLoginModal()">Đăng nhập</span></div>
    </ng-template>
</nz-modal>
