<nz-modal [(nzVisible)]="isVisible" [nzStyle]="{ top: '20px'}" (nzOnCancel)="handleCancel()" [nzWidth]="750">
	<ng-container *nzModalTitle>
		<h2 class="title">Thông tin dự án</h2>
	</ng-container>

	<ng-container *nzModalContent>
		<div class="modal-content">
			<div class="item">
				<img [src]="item.thumbnail" alt="anh bia" width="100%">
			</div>
			<p>{{item.name | uppercase}}</p>
			<div>
				<p>MÔ TẢ: </p>
				<p>{{item.description}}</p>
			</div>
			<div class="item">
				<span>ĐỊA CHỈ: </span>
				<span>{{item.address}}</span>
			</div>
			<div class="item">
				<span>THỜI GIAN: </span>
				<span>{{item.startDate}} - {{item.endDate}}</span>
			</div>
			<div class="item">
				<span>CHỦ ĐẦU TƯ: </span>
				<span>{{item.investor}}</span>
			</div>
			<div class="item">
				<span>SỐ ĐIỆN THOẠI: </span>
				<span>{{item.investorPhone}}</span>
			</div>
			<div class="item">
				<span>CHỦ TÀI KHOẢN: </span>
				<span>{{item.hostBank}}</span>
			</div>
			<div class="item">
				<span>SỐ TÀI KHOẢN: </span>
				<span>{{item.bankNumber}}</span>
			</div>
			<div class="item">
				<span>TÊN NGÂN HÀNG: </span>
				<span>{{item.bankName}}</span>
			</div>
		</div>
	</ng-container>

	<ng-container *nzModalFooter></ng-container>
</nz-modal>