<nz-modal [(nzVisible)]="isVisible" [nzStyle]="{ top: '30px' }" (nzOnCancel)="handleCancel()" >
    <div *nzModalTitle style="padding: 0!important">
        <img [src]="item.thumbnail??'../../../assets/img/flat2.jpg'" alt="flat-image" width="100%">
    </div>
    <div *nzModalContent>
        <h1>{{item.name}}</h1>
        <p>Giá niêm yết: {{item.price}} tỷ đồng</p>
        <p>Giá đặt cọc: {{item.deposit}} triệu đồng</p>
        <div class="status">{{item.status==0?'Sắp mở bán':item.status==1?'Đang mở bán': item.status == 2? 'Đang đặt cọc':'Đã hết'}}</div>
            <h3>Mô tả</h3>
            <div><strong>Dự án: </strong>{{item.projectName}}</div>
            <div><strong>Phân khu: </strong>{{item.areaName}}</div>
            <div><strong>Chủ đầu tư: </strong>{{item.investor}}</div>
            <div><strong>Loại hình căn hộ: </strong>{{item.description}}</div>
            <div><strong>Diện tích: </strong>{{item.acreage}}/m2</div>
        </div>
        <div *nzModalFooter>
            <button nz-button (click)="showConfirm()" [disabled]="item.status == 2 || item.status == 3">Đặt cọc</button>
        </div>
</nz-modal>