<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
        <h2 class="title">Đăng nhập</h2>
    </ng-template>

    <ng-template #modalContent>
        <div class="modal__content">
            <div id="googleSignInButtonContainer"></div>
            <!-- <button nz-button nzBlock><i class="fa-brands fa-facebook"
                    style="color: #0866ff; margin-right: 10px"></i>Đăng nhập với Facebook</button> -->
            <div style="margin-top: 25px">Bằng cách đăng ký, bạn đồng ý với <strong>điều khoản sử dụng</strong> và <strong>điều khoản bảo
                    mật</strong></div>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <div class="modal__footer">Bạn đã có tài khoản? <span class="link-text" type="button"
                (click)="showRegisterModal()">Đăng ký</span></div>
    </ng-template>
</nz-modal>