<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzWidth]="450" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" >
    <ng-template #modalTitle>
        <h2 class="title">Đăng nhập</h2>
    </ng-template>

    <ng-template #modalContent>
        <div class="modal__content">
            <div id="googleSignInButtonContainer"></div>
        </div>
    </ng-template>

    <ng-template #modalFooter>
        <div class="modal__footer">Bạn đã có tài khoản? <span class="link-text" type="button"
                (click)="showRegisterModal()">Đăng ký</span></div>
    </ng-template>
</nz-modal>